@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&family=Rubik+Glitch&display=swap');
$rick-hair-blue: #b1d1e6;
$rick-shirt-blue: #a4d5d7;
$rick-shirt-white: #e8e8e8;
$rick-bg: #e6e1c7;
$morty-bg: #ede7c5;
$morty-yellow: #faf989;
$morty-brown: #ba9c7a;
$summer-bg: #99a170;
$summer-pink: #cf73c2;
$summer-orange: #d08d48;

html, body, #root{
    height: 100%;
}
.main{
    display: flex;
    margin: auto;
}
@mixin themes ( $bg-color){
    $rick-shirt-white: $bg-color; 
    $rick-shirt-blue: $bg-color ; 
    $rick-hair-blue: $bg-color ;   
}
body {
	background: linear-gradient(-45deg,white, $rick-shirt-white, $rick-shirt-blue, $rick-hair-blue);
	background-size: 400% 400%;
    background-attachment: fixed;
	animation: gradient 15s ease infinite;
}
@function changeBg ($bg-color1: $rick-shirt-white, $bg-color2: $rick-shirt-blue, $bg-color3: $rick-hair-blue){
   @return $bg-color1, $bg-color2, $bg-color3;
}
.box2:hover {
    div{
        color: $summer-pink;
    }
    
    @include themes($morty-yellow)
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.box {
    width: -webkit-fill-available;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    transform: scale(0.8);
    .name{
        font: {
            family: 'Rubik Glitch', cursive;
            size: 28px;
        }  
        white-space: nowrap;
    }
    .status,.location{
        text-align: start;
        font-family: 'Josefin Slab', serif;
        span{
            font: {
                size: 15px;
                weight: bold;
            }
            text-transform: uppercase;
        }
    }
    
}
.active{
        transform: scale(1.2);
        margin: 0 200px;
        /*
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
        position: absolute;*/
    }

/*


.box2:hover {
    $rick-shirt-white: $morty-yellow !global; 
    $rick-shirt-blue: $morty-yellow !global; 
    $rick-hair-blue: $morty-yellow !global;
}
.box1{
    &:hover .main{
        /*background-color: $morty-yellow;*
        @include themes(div, $morty-yellow)
    }
}*/
/*@include themes(#b1d1e6)*/ 