
$rick-hair-blue: #b1d1e6;
$rick-shirt-blue: #a4d5d7;
$rick-shirt-white: #e8e8e8;
$rick-bg: #e6e1c7;
$morty-bg: #ede7c5;
$morty-yellow: #faf989;
$morty-brown: #ba9c7a;
$summer-bg: #99a170;
$summer-pink: #cf73c2;
$summer-orange: #d08d48;
    
.main{
    display: flex;
    /*background-color: $morty-yellow;*/
}
.box {
    width: 300px;
    margin: 5px;
    border: 1px solid black;
    /*background-color: $morty-yellow;*/
}
div img{
        width: 200px;
        height: 200px;
    }
@mixin themes ($box-name, $bg-color){
    .#{$box-name}{
        background-color: $bg-color;
        font-size: bold;
    }
}
.box1{
    &:hover{
        @include themes(box1, $rick-hair-blue)
    }
}
/*@include themes(#b1d1e6)*/ 